<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- OpenID -->
  <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
  <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/2cd92ecb-186e-42d2-839e-e1b36cc3d6fb">

  <!-- Feed -->
  <link rel="alternate" type="application/atom+xml" href="/atom.xml"/>
  <!--
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  -->

  <!-- Flattr -->
  <script type="text/javascript">
  /* <![CDATA[ */
  (function() {
         var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
         s.type = 'text/javascript';
         s.async = true;
         s.src = '//api.flattr.com/js/0.6/load.js?mode=auto&button=compact&uid=test&category=text';
         t.parentNode.insertBefore(s, t);
  })();
  /* ]]> */
  </script>

	<!-- Twitter Card -->
	<meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}">
	<meta name="twitter:site" content="@{{ site.twitter_username }}">
	<meta name="twitter:creator" content="@{{ site.twitter_username }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
	{% if page.image %}
	<meta name="twitter:image:src" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
	{% endif %}

</head>
